.DS_Store

/.vscode
/.build
/.build.*

/Benchmarks/.build
/Benchmarks/.build.*
/Benchmarks/Package.resolved

/Examples/.build
/Examples/.build.*
/Examples/Package.resolved

/Packages/
/Package.resolved

/artifacts
